html {
    max-height: 100vh;
    overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background: #F6D193;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

h1 {
  margin-bottom: 10px;
  color: #AE5B07;
  font-family: "Pacifico", cursive;
  font-size: 60px;
  font-style: normal;
}

.bubble-wrap {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
  max-width: 300px;
}

.score {
    font-family: "Sour Gummy", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.bubble {
  width: 40px;
  height: 40px;
  background: radial-gradient(circle at top left, #f9f8d4, #e0e6a8);
  border-radius: 50%;
  box-shadow: inset 0px -4px 6px #ac5a0776, 0px 4px 8px #ac5a07a7;
  transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.bubble::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 70%;
  height: 70%;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  border-radius: 50%;
  opacity: 0.5;
  pointer-events: none;
}

.bubble:hover {
  transform: scale(1.1);
}

.bubble.popped {
  background: radial-gradient(circle, #e0e0e0, #b0b0b0);
  transform: scale(0.7);
  opacity: 0;
  box-shadow: none;
  transition: transform 0.1s ease, opacity 0.4s ease-out;
}

.bubble.popped::after {
  display: none;
}

.bgsound {
    background-color: #AE5B07;
    color: #F6D193;
    font-size: 20px;
    font-family: "Sour Gummy", sans-serif;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.bgsound:hover {
    background-color: #944d06;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
}

a {
    color: #AE5B07;
    text-decoration: none;
}

@media (max-width: 500px) {
    .bubble-wrap {
        width: 100px !important;
    }
}